<html>
<head>

<style>

body{
background:#111;
color:white;
font-family:Arial;
text-align:center;
}

table{
margin:auto;
border-collapse:collapse;
width:70%;
}

th,td{
padding:12px;
border:1px solid white;
}

th{
background:#00aaff;
}

</style>

</head>

<body>

<h1>Smart Agro Live Monitoring</h1>

<table>

<tr>
<th>Time</th>
<th>Moisture (%)</th>
<th>pH Value</th>
</tr>

{% for d in data %}

<tr>
<td>{{d.time}}</td>
<td>{{d.moisture}}</td>
<td>{{d.ph}}</td>
</tr>

{% endfor %}

</table>

</body>
</html>